POSTGRES_USER=changeUser
POSTGRES_PASSWORD=changePassword
POSTGRES_DB=n8n

POSTGRES_NON_ROOT_USER=changeUser
POSTGRES_NON_ROOT_PASSWORD=changePassword

TELEGRAM_BOT_TOKEN=token
TELEGRAM_GROUP_ID=123123123

IMAP_USER=user@gmail.com
IMAP_PASSWORD=password
IMAP_HOST=imap.gmail.com
