POSTGRES_USER=changeUser
POSTGRES_PASSWORD=changePassword
POSTGRES_DB=n8n

POSTGRES_NON_ROOT_USER=changeUser
POSTGRES_NON_ROOT_PASSWORD=changePassword

## Replace this with your Telegram bot token and group ID, you can create a bot and get the token from BotFather on Telegram, add @Getmyid_bot to get the group_id
## and remove it after
TELEGRAM_BOT_TOKEN=token
TELEGRAM_GROUP_ID=123123123

### Replace this with your email and app password, you can generate an app password in your Google Account settings if you have 2FA enabled
IMAP_USER=user@gmail.com
IMAP_PASSWORD=password
IMAP_HOST=imap.gmail.com
